.mt-button {
    --mt-button-color: var(--mt-text-main-color);
    --mt-button-bg-color: #fff;
    --mt-button-border-color: #d9d9d9;
    --mt-button-border-style: solid;

    outline: none;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    color: var(--mt-button-color);
    background-color: var(--mt-button-bg-color);
    border: 1px var(--mt-button-border-style) var(--mt-button-border-color);
    box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
    user-select: none;
    touch-action: manipulation;
    font-size: 14px;
    height: 32px;
    padding: 4px 15px;
    border-radius: 6px;
    cursor: pointer;

    &--disabled {
        cursor: not-allowed;
        opacity: .5;
    }
}
