
.mt-textarea {
    --mt-textarea-border-color: var(--mt-border-color);

    position: relative;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid var(--mt-textarea-border-color);
    transition:
        border .2s cubic-bezier(.645, .045, .355, 1),
        box-shadow .2s cubic-bezier(.645, .045, .355, 1);

    &--hover {
        --mt-textarea-border-color: var(--mt-primary-color);
    }

    &--focus {
        --mt-textarea-border-color: var(--mt-primary-color);

        box-shadow: 0 0 0 2px rgba(64, 158, 255, .2);
    }

    &--disabled {
        opacity: .5;

        .mt-textarea-element {
            cursor: not-allowed;
        }
    }

    // ========== modify ==========
    // &:not(.mt-textarea--disabled) {
    //     &:hover {
    //         --mt-textarea-border-color: var(--mt-primary-color);
    //     }

    //     &:focus {
    //         --mt-textarea-border-color: var(--mt-primary-color);

    //         box-shadow: 0 0 0 2px rgba(64, 158, 255, .2);
    //     }
    // }

    // ========== children ==========
    &-element {
        width: 100%;
        resize: none;
        line-height: 1.5;
        box-sizing: border-box;
        word-break: break-all;
        outline: none;

        // modify
        &--hidden {
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1000;

            // position: absolute;
            // top: 0;
            // left: 0;
            // transform: translate3d(100%, 0, 0);
            // z-index: 1000;
        }
    }

    &-count {
        position: absolute;
        right: 12px;
        bottom: 8px;
        padding: 0 4px;
        color: #fff;
        background: hsla(0, 0%, 40%, .8);
        border-radius: 2px;
        font-size: 12px;
        line-height: 1.5;
    }
}
