.mt-space {
    display: inline-flex;
    gap: var(--size);

    &--block {
        display: flex;
    }

    &--vertical {
        flex-direction: column;
    }

    &--wrap {
        flex-wrap: wrap;
    }

    &--align {
        &-start {
            align-items: flex-start;
        }

        &-center {
            align-items: center;
        }

        &-end {
            align-items: flex-end;
        }

        &-baseline {
            align-items: baseline;
        }
    }
}
