.mt-space {
    display: inline-flex;
    gap: var(--size);

    &--block {
        display: flex;
    }

    &--vertical {
        flex-direction: column;
    }

    &--wrap {
        flex-wrap: wrap;
    }
}
