.mt-overlay {
    --mt-overlay-background: var(--background-color, rgba(0, 0, 0, .5));
    --mt-overlay-duration: var(--duration, .3s);
    --mt-overlay-z-index: var(--z-index, 10);

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    z-index: var(--mt-overlay-z-index);
    background-color: var(--mt-overlay-background);
    transition: all var(--mt-overlay-duration) ease-in-out;
    display: none;

    &--force {
        &.mt-overlay {
            &-fade-appear {
                display: initial;
                opacity: 0;
            }

            &-fade-appear-active {
                opacity: 1;
            }

            &-fade-appear-done {
                display: initial;
                opacity: 1;
            }
        }
    }

    // ========== animation ==========
    &-fade-enter {
        display: initial;
    }

    &-fade-enter-active {
        opacity: 1;
    }

    &-fade-enter-done {
        display: initial;
        opacity: 1;
    }

    &-fade-exit {
        display: initial;
        opacity: 1;
    }

    &-fade-exit-active {
        opacity: 0;
    }
}
